<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjoutActiviteServlet</servlet-name>
        <servlet-class>controlers.AjoutActiviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutBouquetServlet</servlet-name>
        <servlet-class>controlers.AjoutBouquetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutActiviteBouquetServlet</servlet-name>
        <servlet-class>controlers.AjoutActiviteBouquetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiviteBouquetServlet</servlet-name>
        <servlet-class>controlers.ActiviteBouquetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutNouveauVoyageServlet</servlet-name>
        <servlet-class>controlers.AjoutNouveauVoyageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoyageParActivite</servlet-name>
        <servlet-class>controlers.VoyageParActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoyageParActiviteServlet</servlet-name>
        <servlet-class>controlers.VoyageParActiviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltreVoyageParPrixServlet</servlet-name>
        <servlet-class>controlers.FiltreVoyageParPrixServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTypeLocalisationServlet</servlet-name>
        <servlet-class>controlers.AjoutTypeLocalisationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLocalisationServlet</servlet-name>
        <servlet-class>controlers.AjoutLocalisationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutBilletServlet</servlet-name>
        <servlet-class>controlers.AjoutBilletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutNouveauEmployee</servlet-name>
        <servlet-class>controlers.AjoutNouveauEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutAffectationServlet</servlet-name>
        <servlet-class>controlers.AjoutAffectationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltreVoyageParBeneficeServlet</servlet-name>
        <servlet-class>controlers.FiltreVoyageParBeneficeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutNouveauTypeEmployee</servlet-name>
        <servlet-class>controlers.AjoutNouveauTypeEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutClientServlet</servlet-name>
        <servlet-class>controlers.AjoutClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutVenteServlet</servlet-name>
        <servlet-class>controlers.AjoutVenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutActiviteServlet</servlet-name>
        <url-pattern>/AjoutActiviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutBouquetServlet</servlet-name>
        <url-pattern>/AjoutBouquetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutActiviteBouquetServlet</servlet-name>
        <url-pattern>/AjoutActiviteBouquetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiviteBouquetServlet</servlet-name>
        <url-pattern>/ActiviteBouquetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutNouveauVoyageServlet</servlet-name>
        <url-pattern>/AjoutNouveauVoyageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoyageParActivite</servlet-name>
        <url-pattern>/VoyageParActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoyageParActiviteServlet</servlet-name>
        <url-pattern>/VoyageParActiviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltreVoyageParPrixServlet</servlet-name>
        <url-pattern>/FiltreVoyageParPrixServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTypeLocalisationServlet</servlet-name>
        <url-pattern>/AjoutTypeLocalisationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLocalisationServlet</servlet-name>
        <url-pattern>/AjoutLocalisationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutBilletServlet</servlet-name>
        <url-pattern>/AjoutBilletServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutNouveauEmployee</servlet-name>
        <url-pattern>/AjoutNouveauEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutAffectationServlet</servlet-name>
        <url-pattern>/AjoutAffectationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltreVoyageParBeneficeServlet</servlet-name>
        <url-pattern>/FiltreVoyageParBeneficeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutNouveauTypeEmployee</servlet-name>
        <url-pattern>/AjoutNouveauTypeEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutClientServlet</servlet-name>
        <url-pattern>/AjoutClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutVenteServlet</servlet-name>
        <url-pattern>/AjoutVenteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
